
.contact-form {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
}

.contact-form .form-group label {
  margin-bottom: 5px;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form .form-group textarea {
  resize: vertical;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  color: white;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgb(88, 126, 191);
}

.contact-social {
  position: relative;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contact-social img {
  width: 40vw;
  max-width: 470px;
  object-fit: cover;
  border-radius: 10px;
}

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.social-icons h2 {
  margin-bottom: 20px;
}

.social-icon {
  margin: 0 10px;
  font-size: 24px;
  color: #000;
}

.social-icon:hover {
  color: lightblue;
}

@media screen and (max-width:800px) {
    .contact-form{
        width: auto;
        margin-bottom: 3rem;
    }
 }
